<div th:fragment="header" class="header-container"
     xmlns:th="http://www.thymeleaf.org"
     xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
    <div class="header-bar">
        <th:block sec:authorize="isAuthenticated()">
            Привет, <span sec:authentication="name">user</span>!
            <form method="POST" th:action="@{/logout}">
                <button type="submit">Выйти</button>
            </form>
        </th:block>

        <th:block sec:authorize="!isAuthenticated()">
            <form method="GET" th:action="@{/login}">
                <a th:href="@{/login}">Войти</a>
            </form>
        </th:block>
    </div>
</div>